.container {
    color: aliceblue;
}

.text {
    color: #000050;
}

.headline {
    text-align: center;
}

.replace-btn-primary {
  background-color: #000050;
  color: #fff;
}

.replace-btn-primary:hover {
  background-color: #000050;
  box-shadow: 0 0 0 5px #00005043;
  color: #fff;
}

.replace-bg-dark {
  background-color: rgba(0, 0, 50);
}