.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  background-color: #f7f1f1;
}

.text,
.image {
  flex: 50%;
  padding: 0px;
  box-sizing: border-box;
  color: #000050 !important;
}

.image img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;

}

.headline {
  text-align: center;
  padding: 50px;
  width: 100%;

}

.end {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
}
/*carusel */
.carousel-inner {
  align-items: center;
}


/* Mobile Ansicht */
@media (max-width: 768px) {
  .headline {
    padding: 5%;
    text-align: center;
  }

  .section {
    flex-direction: column;
    padding: 5%;
    text-align: center;
  }

  .end {
    flex-direction: column;
    text-align: center;
    padding: 0%;
  }


}

.replace-text-primary {
  color: #000050 !important;
  font-weight: 500;
}

button {
  background-color: #000050;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 250px;
  height: 45px;
  transition: 0.3s; 
}

.button {
  background-color: #000050;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 250px;
  height: 45px;
  transition: 0.3s;
  text-decoration: none;
  padding: .7rem .9rem;
  margin-right: .5rem;
}

button:hover {
  background-color: #000050;
  box-shadow: 0 0 0 5px #00005043;
  color: #fff;
}

.button:hover {
  background-color: #000050;
  box-shadow: 0 0 0 5px #00005043;
  color: #fff;
}