<header>
  <nav class="navbar replace-bg-light">
    <div class="container-fluid">
      <div class="immohGrid">
        <span id="imm"><a href="index.html">imm</a></span>
        <span id="O"><a href="index.html">O</a></span>
        <span id="H"><a href="index.html">H</a></span>
        <span id="Rufzeichen"><a href="index.html">!</a></span>
      </div>
      <div>
        <a class="text-decoration-none replace-link-dark me-2" href="../html/login.html">Login</a>
        <a class="text-decoration-none replace-link-dark" href="../html/regis.html">Registrieren</a>
      </div>
    </div>
  </nav>
</header>